/* app css stylesheet */

@font-face {
    font-family: "SC_RobotoFont";
    src: url('font/Roboto-Light.ttf') format("truetype");
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: 'SC_RobotoFont', cursive;
    font-size: 16px;
}


/* Bootstrap override */

.NoMarginRow {
    margin-right: 0;
    margin-left: 0;
}

.NoPaddingCol {
    padding-right: 0;
    padding-left: 0;
}


/* Gene */

.GeneContainer {
    padding: 10px;
    border: 2px solid rgba(0, 0, 100, 0.4);
    border-radius: 5px;
}

.GeneBox {
    display: inline;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

.GeneBox:not(:first-of-type) {
    margin-left: 20px;
}

.ContainerBorder {
    padding: 20px 5px;
    border: 1px gray;
    border-style: dashed;
}

.ContainerBottom {
    margin-top: 10px;
}
